.app-content {
    display: flex;
    justify-content: space-between;
}

body {
    background-image: url('./assets/default.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .app-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .app-content {
    flex-direction: column; /* empilha Menu e Main */
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .app-content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 5px;
  }
}